<!-- Product cards + Sidenav  -->


<main class="products_grid_main">
    <div class="sidenav">
        <h2 class="sidenav_h2">Choose Category</h2>
        <ul class="sidenav_ul">
            <% categories.forEach(category =>{ %>
                <li class="sidenav_li"><%=category.category_title %></li>
            <% }); %>




            <% if(typeof categories != 'undefined'){ %>
                <% categories.forEach(category =>{ %>
                    <li class="sidenav_li"><a href="/collection/<%=category.category_id %>"><%=category.category_title %></a></li>
                <% }); %>
            <% } %>




    </ul>
    </div>
    <div class="card_container">
            <% if(typeof products != 'undefined'){ %>
                <% products.forEach(product =>{ %>
                    <div class="product_card">
                            <img src="img/<%=product.product_image %>" alt="" class="product_card_img">
                            <p class="product_name"><%=product.product_title %></p>
                            <p class="product_price"><%=product.product_price %> kr</p>
                            <p class="product_size"><%=product.product_size %></p>
                        </div>
                <% }); %>
            <% } %>
    </div>


    </div>
</main>