<!-- Product cards + Sidenav  -->


<main class="products_grid_main">
    <div class="sidenav">
        <h2 class="sidenav_h2">Choose Category</h2>
        <div class="underline"></div>
        <ul class="sidenav_ul">
            <% if(typeof categories != 'undefined'){ %>
                <% categories.forEach(category =>{ %>
                    <li class="sidenav_li"><a class="collection_product_link" href="/collection/<%=category.category_id %>"><%=category.category_title %></a></li>
                <% }); %>
            <% } %>
    </ul>
    </div>

    <div class="card_container">
            <% if(typeof products != 'undefined'){ %>
                <% products.forEach(product =>{ %>
                <a href="/singleProduct/<%= product.product_id %>">
                    <div class="product_card">
                            <img src="/img/<%=product.product_image %>" alt="" class="product_card_img">
                            <div class="card-bg">
                            <p class="product_name"><%=product.product_title %></p>
                            <p class="product_price">$ <%=product.product_price %></p>
                        </div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                        <div class="helpDisk">
                                <i class="fas fa-thumbs-up"></i>
                                <i class="fas fa-heart"></i>
                        </div>
                        <div class="tilbud">
                            <span>20% &nbsp;</span>
                        </div>
                        </div>


                </a>
                <% }); %>
            <% } %>
    </div>
</main>