<div id="wrapper">
    <main>
        <div class="sp__main__Container">
            <div class="sp__pic__container">
                <!-- billed-->
                <img src="/img/<%=product_by_id.product_image%>" alt="">
            </div>


                    <div class="sp__productinfo__container">
                        <h3><%= product_by_id.product_title %></h3>
                        <h4>$ <%= product_by_id.product_price %></h4>
                        <h5>Color: <%= product_by_id.product_color %></h5>
                        <form action="post">
                            <select class="product_select">
                                <option value="" selected data-default>Choose Size</option>
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                            </select> <br>
                            <button>Add to cart</button>
                        </form>
                        <p class="product_describtion">Description: <%= product_by_id.product_text %></p>
                    </div>
                </div>
                


            <div>
                <!-- realaterede (shop-cards)-->
            </div>
    </main>
</div>