<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('partials/favicon.ejs') %>
    <%- include('partials/styles.ejs') %>

</head>

<body>

    <body>
        <div class="box-shadow">
            <%- include('partials/navbar.ejs') %>


            <h1>About Us</h1>
        </div>

        <section id="subscribe">
            <%- include('partials/subscribe.ejs') %>
        </section>

        <main>
            <div>
                <!-- Video-div/container -->
                
            </div>
            <div id="wrapper">
                <article>
                    <h2>Who we are</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus voluptatem nihil? Minima
                        veritatis facere exercitationem nihil error, sequi nemo nam consequatur iure temporibus odit
                        eveniet beatae non, quo iusto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vitae sequi, voluptates perferendis quisquam, repellat voluptate esse odit tempore doloremque ratione. Inventore, sed ad voluptatibus explicabo doloribus recusandae nisi similique. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, illum unde veniam quos velit fugiat facere laborum nobis repudiandae veritatis quod nemo quas tenetur sunt totam dolor nostrum quis quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum natus voluptas tempora rem, libero praesentium dignissimos laborum, reiciendis magni distinctio laudantium repudiandae facere veniam quas harum impedit cumque. Delectus, earum.
                    </p>
                </article>
            </div>
        </main>

        <%- include('partials/footer.ejs') %>

        <%- include('partials/js.ejs') %>
    </body>

</html>