<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('partials/styles.ejs') %>
    <%- include('partials/favicon.ejs') %>

</head>
<body>
    <div class="box-shadow">
        <%- include('partials/navbar.ejs') %>


        <h1>collection page</h1>
    </div>
        



        <%- include('partials/js.ejs') %>
</body>
</html>