<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('partials/styles.ejs') %>
    <%- include('partials/favicon.ejs') %>

</head>
<body>
    <div class="box-shadow">
        <div class="collectionBanner">
                <%- include('partials/collectionBanner.ejs') %> 
        </div>
        <%- include('partials/navbar.ejs') %>


       
    </div>

    <section id="subscribe">
            <%- include('partials/subscribe.ejs') %>
     </section>
<%- include('partials/product_cards.ejs') %>

<div class="scrollToTop">
        <%- include('partials/scrollToTop.ejs') %>
</div>
       <%- include('partials/footer.ejs') %>



        <%- include('partials/js.ejs') %>
</body>
</html>