<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('partials/styles.ejs') %>
    <%- include('partials/favicon.ejs') %>
</head>
<body>
    <div class="box-shadow">
      <div class="contactBanner">
          <%- include('partials/contactBanner.ejs') %>
      </div>
        <%- include('partials/navbar.ejs') %>

        
        <div class="contact-form">
                
                <div class="wrapper animated bounceInLeft">
                  <div class="company-info">
                    <h3>contact information</h3>
                    <ul>
                      <li><i class="fa fa-road"></i> Roskilde 4000</li>
                      <li><i class="fa fa-phone"></i>&nbsp;+4553848555</li>
                      <li><i class="fa fa-envelope">&nbsp;</i>Fabion@gmail.com</li>
                    </ul>
                  </div>
                  <div class="contact">
                    <h3>Email Us</h3>
                    <form action="/contact" method="POST" id="contactForm">
                      <p>
                        <label>FullName</label>
                        <input type="text" name="name" id="FullName"  value="<%= typeof values != 'undefined' ? values.FullName : '' %>">
                        <span class="errorMessage"></span>
                      </p>
                      
                      <p>
                        <label>Email</label>
                        <input type="text" name="Email" id="Email" value="<%= typeof values != 'undefined' ? values.Email : '' %>">
                        <span class="errorMessage"></span>
                      </p>
                      
                      <p>
                        <label>Phone Number</label>
                        <input type="phoneNumber" name="PhoneNumber" id="PhoneNumber" value="<%= typeof values != 'undefined' ? values.PhoneNumber : '' %>">
                        <span class="errorMessage"></span>
                      </p>
                     
                      <p>
                        <label>Address</label>
                        <input type="Address" name="Address" id="Address" value="<%= typeof values != 'undefined' ? values.Address : '' %>">
                        <span class="errorMessage"></span>
                      </p>
                     
                      <p class="full">
                        <label>Message</label>
                        <textarea name="message" rows="5" id="MessageBox" value="<%= typeof values != 'undefined' ? values.MessageBox : '' %>"></textarea>
                        <span class="errorMessage"></span>
                      </p>
                      
                      <p class="full">
                        <button>Submit</button>
                      </p>
                    </form>
                  </div>
                </div>
              </div>
    </div>
        
    <div class="scrollToTop">
        <%- include('partials/scrollToTop.ejs') %>
</div>

    <%- include('partials/footer.ejs') %>

        <%- include('partials/js.ejs') %>
</body>
</html>