<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    
    <%- include('partials/styles.ejs') %>
    <%- include('partials/favicon.ejs') %>
   
</head>
<body>
    <div class="box-shadow">
    
    <%- include('partials/navbar.ejs') %>
  
      <div class="container pt-5">
          <div class="row">
              <div class="col-md-4">
                  <div class="category-1">
                      <img src="/img/jeanswhite.jpg" alt="">
                      <div class="category-1-link">
                          <a href="#">category</a>
                      </div>
                  </div>
              </div>
         
              <div class="col-md-4">
                    <div class="category-1">
                        <img src="/img/jeanswhite.jpg" alt="">
                        <div class="category-1-link">
                            <a href="#">category</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                        <div class="category-1">
                            <img src="/img/jeanswhite.jpg" alt="">
                            <div class="category-1-link">
                                <a href="#">category</a>
                            </div>
                        </div>
                    </div>
              
      </div>
    
      <div class="row">
            <div class="col-md-4">
                <div class="category-1">
                    <img src="/img/jeanswhite.jpg" alt="">
                    <div class="category-1-link">
                        <a href="#">category</a>
                    </div>
                </div>
            </div>
       
            <div class="col-md-4">
                  <div class="category-1">
                      <img src="/img/shoesmixed.jpg" alt="">
                      <div class="category-1-link">
                          <a href="#">category</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                      <div class="category-1">
                          <img src="/img/jeanswhite.jpg" alt="">
                          <div class="category-1-link">
                              <a href="#">category</a>
                          </div>
                      </div>
                  </div>
            
    </div>
   
</div>
    <%- include('partials/js.ejs') %>
</body>
</html>
