<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    
    <%- include('partials/styles.ejs') %>
    <%- include('partials/favicon.ejs') %>
   
</head>
<body>
    <div class="box-shadow">
    <div class="homeBanner">
            <%- include('partials/homeBanner.ejs') %>
    </div>
    <%- include('partials/navbar.ejs') %>
  
    <section id="category">

        <div class="category-title">
            <h1>check all categories</h1>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta porro et 
                tempora illum tempore maiores nobis ducimus, incidunt similique!</p>
        </div>
    
      <div class="container pt-5">
          <div class="row">
              <div class="col-md-4">
                  <div class="category-1">
                      <img src="/img/jeansblack.jpg" alt="">
                      <div class="category-1-link">
                          <a href="#">category</a>
                      </div>
                  </div>
              </div>
         
              <div class="col-md-4">
                    <div class="category-1">
                        <img src="/img/shoesmixed.jpg" alt="">
                        <div class="category-1-link">
                            <a href="#">category</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                        <div class="category-1">
                            <img src="/img/tshirtwhite.jpg" alt="">
                            <div class="category-1-link">
                                <a href="#">category</a>
                            </div>
                        </div>
                    </div>
              
      </div>
    
      <div class="row">
            <div class="col-md-4">
                <div class="category-1">
                    <img src="/img/hoodiepink.jpg" alt="">
                    <div class="category-1-link">
                        <a href="#">category</a>
                    </div>
                </div>
            </div>
       
            <div class="col-md-4">
                  <div class="category-1">
                      <img src="/img/jacketred.jpg" alt="">
                      <div class="category-1-link">
                          <a href="#">category</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                      <div class="category-1">
                          <img src="/img/jeanswhite.jpg" alt="">
                          <div class="category-1-link">
                              <a href="#">category</a>
                          </div>
                      </div>
                  </div>
    </div>
   
</div>
</section>

 <section id="subscribe">
        <%- include('partials/subscribe.ejs') %>
 </section>
 
 <div class="scrollToTop">
        <%- include('partials/scrollToTop.ejs') %>
</div>

 <%- include('partials/footer.ejs') %>
    <%- include('partials/js.ejs') %>
</body>
</html>
